<!-- <div class="login-container">
    <div class="left-side">
      <mat-card class="login-card">
        <div class="logo-container">
          <img src="/assets/axiobat.jpg" alt="AxioBat Logo" class="logo" />
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Saisissez votre adresse mail</mat-label>
                <input matInput formControlName="username" />
              </mat-form-field>
  
          <button class="full-width-2" type="submit"></button>
          <button class="full-width-3" type="button">Se connecter</button>
        </form>
      </mat-card>
      
    </div>
  
  
    <div class="right-side">
      <img src="/assets/admin.png" alt="page" class="admin" />
    </div>
  </div> -->

  <h1>weel</h1>