<div class="login-container">
  <div class="left-side">
    <mat-card class="login-card">
      <div class="logo-container">
        <img src="/assets/axiobat.jpg" alt="AxioBat Logo" class="logo" />
      </div>
      <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Saisissez votre adresse mail</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="recoverPasswordForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="recoverPasswordForm.get('email')?.hasError('email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field>

        <button class="full-width-2" type="submit" [disabled]="recoverPasswordForm.invalid">
          Récupérer mot passe
        </button>
        <button class="full-width-3" type="button" (click)="navigateToLogin()">Se connecter</button>
      </form>
    </mat-card>
  </div>

  <div class="right-side">
    <img src="/assets/admin.png" alt="page" class="admin" />
  </div>
</div>