<div class="login-container">
    <div class="left-side">
      <mat-card class="login-card">
        <div class="logo-container">
          <img src="/assets/axiobat.jpg" alt="AxioBat Logo" class="logo" />
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
         
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
          </mat-form-field>
  
          <button class="full-width-2" type="submit">Récupérer mot de passe</button> 
          <button class="full-width-3" type="button" (click)="navigateToRecoverPassword()">Se connecter</button>
        </form>
      </mat-card>
      <!-- <div class="copyright">
        <a href="https://www.axiobat.com/contrat-de-service-axiobat/">Mentions légales   </a>
        <span> - Copyright Axiobat 2025</span>
      </div> -->
    </div>
  
  
    <div class="right-side">
      <img src="/assets/admin.png" alt="page" class="admin" />
    </div>
  </div>

  