.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-side {
  flex: 3;
  background-color: #48a3c2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.right-side {
  flex: 2;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.login-card {
  background-color: #fff;
  border-radius: 7px;
  padding: 20px 30px;
  width: 100%;
  max-width: 28em;
  text-align: center;
  box-shadow: none;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 130px;
}

.full-width {
  width: 100%;
  margin-top: 10px;
}

.full-width-2 {
  width: 100%;
  height: 7vh;
  background-color: #4eb0d1;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.full-width-3 {
  width: 100%;
  height: 7vh;
  background-color: transparent;
  color: #4eb0d1;
  border: none;
  margin-top: 5px;
}

.admin {
  width: 100%;
  height: auto;
  max-height: 80%;
  object-fit: contain;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    flex: none;
    width: 100%;
    height: auto;
  }

  .admin {
    max-width: 80%;
    margin: auto;
  }
}
