.dashboard-container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.top-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.name {
  font-size: 22px;
  font-weight: bold;
  justify-content: center;
  margin-left: 5em;
  align-items: center;
  display: flex;
}
.fa-search {
  color: #141414ab;
}
.search-box {
  padding: 10px 1px;
  width: 30em;
  border: 3px solid #141414ab;
  border-radius: 20px;
  transition: all 0.2s ease; 
}

.search-box:hover {
  box-shadow: 0 4px 12px #48a4c2b0;
  transform: translateY(-2px); 
}
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.admin-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 35em;
}

.data-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.data-item {
  min-width: 100px;
}

.date {
  margin-left: auto;
  font-size: 14px;
  /* color: #777; */
  align-self: auto;
}

/* Responsive */
@media (max-width: 768px) {
  .data-row {
    flex-direction: column;
  }

  .admin-card {
    flex-direction: column;
  }

  .top-row {
    flex-direction: column;
  }

  .search-box {
    width: 100%;
    max-width: 100%;
  }

  .date {
    margin-left: 0;
    margin-top: 10px;
  }
}